{% extends 'base.html.twig' %}

{% block header_title %}<h1>Créer un utilisateur</h1>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row">
        {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}
            {{ form_row(form.roles) }}

            <div class="row">
                <div class="col-md-3">
                    <button type="submit" class="mt-4 btn btn-success">Ajouter</button>
                </div>
                <div class="col-md-3">
                    <a href="{{ path('user_list') }}" class="mt-4 btn btn-primary">Liste des utilisateurs</a>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
